@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	padding: 20px 0 20px;
	font-family: "Exo";
	background: url(main-bg.gif);
	background: linear-gradient(330deg, #00ff6f,  #0054ff);
    background-size: 800% 800%;
    -webkit-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@-webkit-keyframes AnimationName {
    0%{background-position:61% 0%}
    50%{background-position:40% 100%}
    100%{background-position:61% 0%}
}
@keyframes AnimationName {
    0%{background-position:61% 0%}
    50%{background-position:40% 100%}
    100%{background-position:61% 0%}
}

#banner {max-width: 500px;margin: 0 auto;padding: 10px;background: #dfdfdf;box-shadow: 0 0 8px rgb(0,0,0);width: 90%;position: relative; z-index: 10;}
.bnr_con {}
.bnr_con figure img {width: 500px;max-width: 100%;}

#main_area {max-width: 515px;margin: 0 auto;padding: 0 10px; position: relative; z-index: 10;}
.main_con {text-align: center;color: #fff;}
main {}
main h3 {font-weight: 700;font-size: 22px;line-height: 100%;margin: 20px 0 10px;}
main p {line-height: 28px;font-size: 16px;}